<div hx-target="this">
    <div class="row">
        <div class="col-lg-12">
            <h3>{{ f.name }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
            <div class="row">
                <p>Created: {{ f.created_datetime }}</p><br>
            </div>
            <div class="row">
                <p>Modified: {{ f.modified_datetime }}</p>
            </div>
        </div>
        <div class="col-lg-8">
            <button class="btn btn-link" hx-get="{% url 'update-food' f.id %}" hx-swap="outerHTML">
                Edit settings for {{ f.name }}
            </button>
            {% comment %} <button class="btn btn-outline-danger btn-sm" hx-post="{% url 'delete-food' f.id %}"
                hx-swap="outerHTML swap:1s">
                Delete
            </button> {% endcomment %}
        </div>
    </div>
</div>