# https://stackoverflow.com/questions/10418975/how-to-change-line-ending-settings/10419350#10419350
# treat all files as text files and convert to OS's line ending on checkout and back to LF on commit automatically
* text=auto 