{% extends "base.html" %}

{% block content %}

<div>
  <div>
    <h1>{{ foodtype.name }} foods</h1>
  </div>
  <div>
    <button type="button" class="btn btn-outline-primary btn-sm" hx-post="{% url 'create-food-form' foodtype.id %}"
      hx-target="#foodforms" hx-swap="beforeend">
      {% comment %} <button type="button" hx-get="{% url 'create-food-form' %}" hx-target="#foodforms"
        hx-swap="beforeend"> {% endcomment %}
        Add food
      </button>
  </div>
</div>

<div id="foodforms"></div>

<div class="container">
  {% for f in food %}

  {% include "food/partials/food_detail.html" %}
  <div class="row mt-3"></div>
  {% endfor %}
</div>

{% endblock %}