{% extends "base.html" %}

{% block content %}

<div>
  <div>
    <h1>Foodtypes</h1>
  </div>
  <div>
    <button type="button" class="btn btn-outline-primary" hx-get="{% url 'create-foodtype-form' %}"
      hx-target="#foodtypeforms" hx-swap="beforeend">
      Add a foodtype
    </button>
  </div>
</div>

<div id="foodtypeforms"></div>

<div class="container">
  {% for f in foodtype %}

  {% include "food/partials/foodtype_detail.html" %}
  <div class="row mt-3"></div>
  {% endfor %}
</div>

{% endblock %}