{% extends "base.html" %}
{% load static %}
{% block content %}
  <h1>Course Definitions</h1>
  <a href="{% url 'coursedef_create' %}" class="btn btn-dark">New Course</a>
  <br>
  <br>
  <div class="w-75">
    <ul class="list-group">
      {% for coursedef in coursedefs %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{ coursedef.name }}</div>
            <p class="text-muted mb-2">{{ coursedef.description }}</p>
            <p class="text-muted mb-2">X foods assigned</p>
          </div>
          <a href="{% url 'coursedef_update' coursedef.id %}" class="btn btn-dark">Edit Course Def</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock content %}
