{% extends "base.html" %}
{% load static %}
{% block content %}
  <h1>Course Definitions</h1>
  <a href="{% url 'course_create' %}" class="btn btn-dark">New Course</a>
  <br>
  <br>
  <div class="w-75">
    <ul class="list-group">
      {% for course in courses %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{ course.name }}</div>
            <p class="text-muted mb-2">{{ course.description }}</p>
            <p class="text-muted mb-2">{{ course.foods.all.count }} foods assigned</p>
          </div>
          <a href="{% url 'course_update' course.id %}" class="btn btn-dark">Edit Course Def</a>
        </li>
        {% comment %} {% for food in course.foods.all %}
          {{ food.name }}
          <br>
        {% endfor %} {% endcomment %}
      {% endfor %}
    </ul>
  </div>
{% endblock content %}
