{% extends "base.html" %}
{% block content %}
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        {% comment %} <img src="{{ recipe.image.url }}" class="img-fluid rounded-start" alt="{{ recipe.title }}"> {% endcomment %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          {% comment %} <h5 class="card-title">{{ coursedef.name|name }}</h5> {% endcomment %}
          <h5 class="card-title">{{ coursedef.name }}</h5>
          <p class="card-text">{{ coursedef.description }}</p>
          <a href="{% url 'coursedef_update' coursedef.id %}"
             class="btn btn-warning rounded-1">Edit</a>
          <a href="{% url 'coursedef_delete' coursedef.id %}"
             class="btn btn-danger rounded-1">Delete</a>
          <p class="card-text">
            <small class="text-muted">{{ coursedef.created_datetime }}</small>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
