{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="row w-75">
    <div class="col">
      <h1>Courses</h1>
    </div>
    <div class="col">
      <a href="{% url 'course_create' %}" class="btn btn-dark">New Course</a>
    </div>
  </div>
  <br>
  <div class="w-75">
    {% for course in courses %}
      <div class="row list-group-item d-flex justify-content-between align-items-start">
        <div class="col-sm text-right">
          <div class="fw-bold">{{ course.name }}</div>
          <p class="text-muted mb-2">{{ course.description }}</p>
        </div>
        <div class="col-sm text-start">
          {% if course.meals.all %}
            {% for m in course.meals.all %}
              <a href="{% url 'meal_update' m.id %}">{{ m.name }}</a>
            {% endfor %}
          {% endif %}
          {% comment %} <p class="text-muted mb-2">{{ course.foods.all.count }} foods assigned</p> {% endcomment %}
          <p class="text-muted mb-2">{{ course.get_food_count }} foods assigned</p>
        </div>
        <div class="col-sm align-center text-end">
          <a href="{% url 'course_update' course.id %}" class="btn btn-dark">Edit Course</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
