{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="row w-75">
    <div class="col">
      <h1>Foods</h1>
    </div>
    <div class="col">
      <a href="{% url 'food_create' %}" class="btn btn-dark">New Food</a>
    </div>
  </div>
  <br>
  <div class="w-75">
    {% for f in food %}
      <div class="row list-group-item d-flex justify-content-between align-items-start">
        <div class="col-sm text-right">
          <div class="fw-bold">{{ f.name }}</div>
          <p class="text-muted mb-2">{{ f.description }}</p>
        </div>
        <div class="col-sm text-start">
          {% if f.courses.all %}
            {% for c in f.courses.all %}
              <a href="{% url 'course_update' c.id %}">{{ c.name }}</a>
            {% endfor %}
          {% endif %}
        </div>
        <div class="col-sm align-center text-end">
          <a href="{% url 'food_update' f.id %}" class="btn btn-dark">Edit Food</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
