{% load crispy_forms_tags %}
<div hx-target="this" hx-swap="outerHTML">
    <form method="POST">
        {% csrf_token %}
        {{ form.menu|as_crispy_field}}

        {{ form.created_by|as_crispy_field}}
        <select class="custom-select mb-4" name="foodtype" hx-get="{% url 'get-menuitems' %}" hx-trigger="change"
            hx-target="#menuitem_options" hx-swap="innerHTML">
            {% if selected_foodtype.id == None %}
            <option selected>Select a food type</option>
            {% endif %}
            {% for foodtype in foodtypes %}
            {% if foodtype.id == selected_foodtype.id %}
            <option selected value="{{foodtype.id}}">{{ foodtype.name }}</option>
            {% else %}
            <option value="{{foodtype.id}}">{{ foodtype.name }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <div id="menuitem_options">
            {% include 'menu/partials/menuitem_options.html' with foods=foods selected_food=selected_food%}
        </div>

        </select>


        {% if menuitem %}
        <button type="submit" hx-post="{% url 'update-menuitem' menuitem.id %}">
            Submit
        </button>
        <button hx-get="{% url 'detail-menuitem' menuitem.id %}" type="button">
            Cancel
        </button>
        {% else %}
        <button type="submit" hx-post=".">
            Submit
        </button>
        {% endif %}
    </form>
</div>