{% extends "base.html" %}

{% block content %}

<div>
  <div>
    <h2>{{ meal.name }} meal items</h2>
  </div>
  <div>
    <button type="button" hx-post="{% url 'create-mealitem-form' meal.id%}" hx-target="#mealitemforms"
      hx-swap="beforeend">
      {% comment %} <button type="button" hx-get="{% url 'create-mealitem-form' %}" hx-target="#mealitemforms"
        hx-swap="beforeend"> {% endcomment %}
        Add meal item
      </button>
  </div>
</div>


<div id="mealitemforms"></div>

<div class="container">
  {% for mi in mealitem %}

  {% include "meal/partials/mealitem_detail.html" %}

  {% endfor %}
</div>

{% endblock %}